* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/slider.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: var(--green);
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: var(--green);
  transition: 0.4s;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: #fff;
  font-size: 75px;
}
h3 {
  color: #fff;
  font-size: 25px;
}
h4 {
  color: var(--green);
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid var(--green);
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30pc;
  background-color: var(--green);
  color: #000;
  top: 6px;
  right: 6px;
}
.about {
  width: 100%;
  padding: 100px 0;
}
.about img {
  height: auto;
  width: 430px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text {
  width: 550px;
}
.about-text h2 {
  font-size: 75px;
  text-transform: capitalize;
}
.about-text h5 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.about-text p {
  color: var(--main-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid var(--green);
  cursor: pointer;
}
.service {
  width: 100%;
  padding: 100px 0;
}
.title h2 {
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  background: #191919;
  height: 365px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: var(--green);
}
h5 {
  font-size: 23px;
}
.pra p {
  font-size: 16px;
  line-height: 27px;
}
.card .button {
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid var(--green);
  cursor: pointer;
}
.contact{
   text-align: center;
}
ul li input {
  width: 500px;
  height: 50px;
  background: #f1f1f1;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 0;
}
ul li textarea {
  width: 500px;
  height: 80px;
  background: #ddd;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.btn {
  color: #fff;
  border: 0;
  display: inline-block;
}
button {
  width: 150px;
  padding: 8px 10px;
  display: block;
  border-radius: 10px;
  background-color: var(--green);
  border: 0;
  color: #fff;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 50%;
    margin: 22px 10px;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: var(--green);
    bottom: 35px;
    font-size: 14px;
}